@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/fira-code/FiraCode-Regular.woff2') format('woff2'),
         url('./assets/fonts/fira-code/FiraCode-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/fira-code/FiraCode-Bold.woff2') format('woff2'),
         url('./assets/fonts/fira-code/FiraCode-Bold.woff') format('woff');
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: 'Fira Code', monospace;
    margin: 0;
}

a {
    border-bottom: 4px solid #c24843;
    color: #f3f4f5;
    text-decoration: none;
}

.switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 50px;
}

.switch-input { display: none; }
.switch-input:checked + .switch-slider { background-color: #46ce90; }
.switch-input:focus + .switch-slider { box-shadow: 0 0 1px #2196F3; }
.switch-input:checked + .switch-slider:before { transform: translateX(25px); }

.switch-slider {
    background-color: #e1e1e1;
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 2px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all .25s;
}
.switch-slider:before {
    background-color: #fff;
    border-radius: 2px;
    bottom: 4px;
    content: '';
    height: 17px;
    position: absolute;
    left: 4px;
    transition: .4s;
    width: 17px;
}
