.options {
    align-items: center;
    background-color: #102d47;
    color: #f3f4f5;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100vh;
    padding: 1rem;
    padding-top: 3rem;
    width: 100vw;
}

.options__popup {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.options__popup.hidden {
    display: none;
}

.options__popup-modal {
    background-color: #102d47;
    border-radius: 2px;
    margin-top: 8rem;
    max-width: 25rem;
    padding: 1.25rem;
    position: absolute;
}

.options__popup-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.options__popup-title {
    font-weight: bold;
}

.options__popup-close {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url('/icons/x.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    height: 1rem;
    outline: none;
    position: relative;
    transition: all .25s;
    width: 1rem;
}

.options__popup-close:hover {
    background-color: #051a31;
}

.options__popup-body {
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.options__popup-focus {
    display: flex;
    margin-bottom: 1rem;
}

.options__popup-focus-button {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.65);
    color: #f3f4f5;
    cursor: pointer;
    flex: 1;
    font-family: 'Fira Code', monospace;
    font-size: .9rem;
    height: 1.77rem;
    outline: 0;
    padding: 0;
}
.options__popup-focus-button:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.options__popup-focus-button:last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.options__popup-focus-button.selected {
    background-color: rgba(255,255,255,.2);
    font-weight: bold;
}

.options__popup-footer {
    display: flex;
    justify-content: space-between;
}

.options__popup-button {
    -webkit-appearance: none;
    background-color: #001933;
    border-radius: 2px;
    border: 0;
    color: #f3f4f5;
    cursor: pointer;
    height: 1.77rem;
    font-family: 'Fira Code', monospace;
    font-size: .8rem;
    outline: 0;
    padding: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    transition: all .25s;
}

.options__popup-button:hover {
    transform: translateY(-1px);
}

.options__popup-button:active {
    transform: translateY(1px);
}

.options__popup-button.confirm {
    background-color: #c24843;
}

.options__logo {
    margin-bottom: 2rem;
    width: 1.5rem;
}

.options h2 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.options__container {
    max-width: 25rem;
    width: 100%;
}

.options__header {
    margin-bottom: 4rem;
}

.options__header-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.options__sites-add {
    align-items: center;
    background-color: #08253F;
    border-radius: 2px;
    display: flex;
    margin-bottom: 2rem; 
    padding: .25rem;
}

.options__sites-add-input,
.options__sites-add-button {
    font-family: 'Fira Code', monospace;
}

.options__sites-add-input {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: #f3f4f5;
    flex: 7.5;
    font-size: 1rem;
    outline: none;
}

.options__sites-add-input::-webkit-input-placeholder {
    color: #c8c8c8;
}

.options__sites-add-button {
    -webkit-appearance: none;
    background-color: #001933;
    border-radius: 2px;
    border: 0;
    color: #f3f4f5;
    cursor: pointer;
    height: 1.77rem;
    flex: 2.5;    
    font-size: .8rem;
    outline: 0;
    padding: 0;
    transition: all .25s;
}

.options__sites-add-button:hover {
    transform: translateY(-1px);
}

.options__sites-add-button:active {
    transform: translateY(1px);
}

.options__site {
    margin-bottom: 1rem;
    margin-left: -1.5rem;
    white-space: nowrap;
}

.options__site-delete {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url('/icons/x.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    height: 1rem;
    opacity: 0;
    outline: none;
    pointer-events: none;
    position: relative;
    top: .20rem;
    width: 1rem;
}

.options__site:hover .options__site-delete {
    background-color: #051a31;
    opacity: 1;
    pointer-events: all;
}
