.popup {
    background-color: #f3f4f5;
    padding: 1rem;  
    width: 22rem;
}

.popup__row {
    align-items: center;
    display: flex;
    font-size: .9rem;
    justify-content: space-between;
    margin-top: 1.25rem;
}
.popup__row.hidden { display: none; }
.popup__row:first-child { margin-top: 0; }

.popup__row-main {
    align-items: center;
    display: flex;
}

.popup__settings {
    background-image: url('/icons/settings.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: .9rem;
    margin-left: .5rem;
    width: .9rem;
}

#tab-url {
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
